
.m_c {
    font-family:"roboto" ;
}
.m_c {
    padding:5px 10px;
    padding-bottom: 20px;
}
.left {
    float:left;
}
.right {
    float:right;
}
h1  {
    font-size: 13px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    color:#f9f9f9;
}
h2 {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color:#f9f9f9;
}
.red {
    color:#e60012;
    margin-bottom: 5px;
}
.yellow {
    color:#ef8300;
}
h3 {
    font-size: 11px;
    margin-left: 24px;
    line-height: 20px;
    font-weight: normal;
    color:#f9f9f9;
}
.num {
    position:relative;
    padding-left: 20px;
}
h3.img img {
    width:100%;
    margin: 10px auto;
}
h3 span {
    position:absolute;
    left:0;
    top:0;
}
div.small {
    font-size: 9px;
    color: #aaa;
}
.pd73 {
    position:relative;
    padding-left: 70px;
}
.m44 {
    margin-left: 44px;
}
.paretlist {
  margin-bottom: 30px;
}
.paret {
  border-bottom: 2px solid #403f3f;
  display:flex;
  flex-direction: row;
}
.paret .flex2 {
  flex: 2;
}
.paret .flex3 {
  flex: 3;
}
.paret .flex6 {
  flex:6;
}
.paret_detail {
  padding: 10px;display: flex;align-items: flex-end;flex:6;
}
.paret_top {
  font-size:12px;line-height: 24px;margin:0 10px;
}
.paret_bottom {
  margin:0 10px;line-height:24px;display:flex;justify-content: space-between;
}
.paret_a {
  color:#ef8300;margin-bottom: 10px;font-size:15px;line-height: 20px;
}
.paret_a:visited {
  color:#ef8300;
}
